@{
    ViewBag.Title = "Home Page";
}
<style>
    /*body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: relative;
        width: 960px;
    }*/

    .axis text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
        fill-opacity: .9;
    }

    .x.axis path {
        display: none;
    }

</style>


<script src="~/Scripts/d3/d3.js"></script>



<div class="page-header">

    <h4><span class="glyphicon glyphicon-ok"> </span> Вывод успеваемости за 2 года</h4>
    <h4>
        <span class="glyphicon glyphicon-ok"></span> D3.js
    </h4>
</div>

    <select id="year" onchange="changeYear();">
        <option value="2014">2014</option>
        <option value="2015">2015</option>
    </select>
    <label><input type="checkbox"> Sort values</label>

    <div class="diagram"></div>

<script src="~/Scripts/project/Chart.js"></script>
